.body-container {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(25, 1fr);
  background-color: aqua;
  height: 80vh;
}

* {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.tools-box {
  background-color: black;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.h3 {
  background-color: rgb(119, 118, 118);
  color: wheat;
  padding: 1px 2px;
}

button {
  padding: 1px 3px;
  background-color: rgb(143, 142, 142);
}

.tools {
  display: flex;
  align-items: center;
}

.box {
  background-image: url('./img/box.png');
  height: 7px;
  width: 7px;
}

.tool {
  margin: 0.5rem;
  background-color: rgb(116, 111, 111);
}

.selector-tool {
  border: 3px solid red;
  box-shadow: 0 0 10px red;
}
.axe {
  height: 4rem;
  width: 4rem;
  background-image: url('./img/axe.png');
}

.sword {
  height: 4rem;
  width: 4rem;
  background-image: url('./img/sword.png');
}

.shovel {
  height: 4rem;
  width: 4rem;
  background-image: url('./img/shovel.png');
}

.pickaxe {
  height: 4rem;
  width: 4rem;
  background-image: url('./img/pickaxe.png');
}



/* ---- the elements to --- */
.sky {
  background-color: #87ceeb;
}

.stone {
  background-image: url('./img/Stone.jpg');
}


.coal {
  background-image: url("./img/coal.png");
}
.creeperBody {
  background-image: url("./img/creeperBody.png");
}
.creeperFace {
  background-image: url("./img/creeperFace.png");
}
.gold {
  background-image: url("./img/gold.png");
}
.grass {
  background-image: url("./img/grass.png");
}
.leaves-gr {
  background-image: url("./img/leaves-gr.png");
}
.redstone {
  background-image: url("./img/redstone.jpeg");
}
.soil {
  background-image: url("./img/soil.png");
}
.wood {
  background-image: url("./img/wood.png");
}
.diamond {
  background-image: url("./img/diamond.png");
}

